@charset "utf-8";

$pc: "screen and (min-width: 1000px)";
$sp: "screen and (max-width: 999px)";

body {
	font-family: "M PLUS Rounded 1c";
	color: #333;
	line-height: 1.3;
	@media #{$pc} {
		font-size: 16px;
	}
	@media #{$sp} {
		font-size: 14px;
	}
}
img {
	max-width: 100%;
}

.container {
	max-width: 1400px;
	width: 100%;
	margin: auto;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #404040;
	height: 50px;
	box-shadow: 0 0 3px #ccc;
	z-index: 1000;
}
.header_group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 20px;
	height: 100%;
}
.header_group__1 {
	height: 100%;
}
.header__logo {
	height: 100%;
	display: flex;
	align-items: center;

	> a {
		display: block;
		> i {
			@media #{$pc} {
				font-size: 24px;
			}
			@media #{$sp} {
				font-size: 20px;
			}
			display: inline-block;
			vertical-align: middle;
			margin-right: .2em;
			margin-top: -4px;
		}
		display: block;
		font-family: "Nico Moji";
		@media #{$pc} {
			font-size: 38px;
		}
		@media #{$sp} {
			font-size: 28px;
		}
		color: #fff;
	}
}
.header_group__2 {
	height: 100%;
	display: flex;
	align-items: center;
}
.header__icon_list {
	display: flex;
}
.header__icon {
	+ .header__icon {
		margin-left: 20px;
	}
}
.header__icon__help {
	color: #fff;
	display: block;
	font-size: 20px;
}
.header__icon__refresh {
	color: #fff;
	display: block;
	font-size: 20px;
}

main {
	background-color: #e0e0e0;
	height: 100vh;
	padding-top: 50px;
}
.main_panel {
	overflow: auto;
	height: calc(100% - 50px);
	padding: 20px;
}
.fukidashi_row_list {

}
.fukidashi_row {
	display: flex;
	width: 100%;
	+ .fukidashi_row {
		margin-top: 20px;
	}
	&.fukidashi_row--left {
	}
	&.fukidashi_row--right {
		justify-content: flex-end;
	}
}
.fukidashi_group {
	display: flex;
	align-items: flex-end;
	width: 100%;
	&.fukidashi_group--left {
		
	}
	&.fukidashi_group--right {
		flex-direction: row-reverse;
	}
}
.fukidashi_group__icon {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	overflow: hidden;
}
.fukidashi_group__fukidashi {
	max-width: calc(80% - 70px);
	&.fukidashi_group__fukidashi--left {
		margin-left: 20px;
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			bottom: 20px; 
			left: -25px;
			border: 8px solid transparent;
			border-right: 24px solid #fff;
			transform: rotate(20deg);
		}
	}
	&.fukidashi_group__fukidashi--right {
		margin-right: 20px;
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			bottom: 20px; 
			right: -25px;
			border: 8px solid transparent;
			border-left: 24px solid #fff;
			transform: rotate(-20deg);
		}
	}
	background-color: #fff;
	position: relative;
	padding: 15px 20px;
	border-radius: 10px;
}
.sub_panel {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #404040;
	box-shadow: 0 0 3px #ccc;
	@media #{$pc} {
		height: 50px;
	}
	@media #{$sp} {
		height: 40px;
	}
}
.input_area {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.input_area__1 {
	@media #{$pc} {
		width: calc(100% - 150px);
	}
	@media #{$sp} {
		width: calc(100% - 100px);
	}
	height: 100%;
}
.input_area__2 {
	@media #{$pc} {
		width: 150px;
	}
	@media #{$sp} {
		width: 100px;
	}
	height: 100%;
	background-color: #fff;
}
.input_area__input {
	font-size: 16px;
	background-color: #fff;
	width: 100%;
	padding: 10px;
	height: 100%;
}
.input_area__btn {
	transition: opacity .2s ease-out;
	&:hover {
		opacity: .7;
	}
	> i {
		display: inline-block;
		margin-right: .5em;
	}
	display: block;
	color: #fff;
	background-color: #0066cc;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	@media #{$pc} {
		font-size: 18px;
	}
}

.modal {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(#000, .6);
	// transition: opacity .05s ease-out;
	&:not(.active) {
		pointer-events: none;
		opacity: 0;
	}
}
.modal_panel {
	background-color: #fff;
	width: 800px;
	max-width: 90%;
	max-height: 90%;
	position: relative;
	border-radius: 10px;
	overflow: auto;
	@media #{$pc} {
		padding: 80px 50px 100px;
	}
	@media #{$sp} {
		padding: 50px 30px;
	}
}
.modal_panel__close {
	position: absolute;
	right: 10px;
	top: 10px;
	display: block;
	font-size: 30px;
	line-height: 1;
	width: 30px;
	height: 30px;
}
.modal_panel__title {
	@media #{$pc} {
		font-size: 32px;
	}
	@media #{$sp} {
		font-size: 20px;
	}
	font-weight: bold;
	display: table;
	margin: 0 auto 1em;
	> i {
		display: inline-block;
		margin-right: .3em;
	}
}
.btn_list {
	text-align: center;
}

.btn {
	background-color: #cc3300;
	display: inline-block;
	color: #fff;
	transition: opacity .2s ease-out;
	padding: 15px 20px;
	border-radius: 5px;
	min-width: 200px;
	margin: 5px;
	&:hover {
		opacity: .7;
	}
	&.btn--cancel {
		background-color: #0066cc;
	}
}

.help_list {
	margin: 1em 0;
	padding-left: 1em;
	list-style-type: disc;
	> li + li {
		margin-top: .5em;
	}
}

// 広告ブロック
div[style*=z-index\:\ 2147483647] {
	display: none !important;
}
